{% extends "base.html" %}
{% load url from future %}

{% block title %}Bird Dog: New request{% endblock %}

{% block wrapper_meta %}{% endblock %}

{% block wrapper_css %}{% endblock %}

{% block content %}
	<section id="new-request">
		<h1>Start a new request</h1>
		<form action="" method="POST">
			{% csrf_token %}
			<fieldset class="well">
				<legend>Required</legend>
				<p>Just the bare minimum to keep track of your request. You can fill more, or come back later to flesh out the details.</p>
				{{ reqform }}
				<br />
				<input type="submit" value="Send in the dogs!" />
			</fieldset>
			<br >
			<fieldset class="well">
				<legend>Additional information</legend>
				{{ optform }}
				<br/>
				<input type="submit" value="Send out the dogs! RUFF!" />
			</fieldset>

		</form>
	</section>
{% endblock %}

{% block page_scripts %}
	<script>
		$(function(){
			$("input#id_tags").autoSuggest("{% url 'taggit_autosuggest-list' %}", {minChars: 1, matchCase: true});
		});
	</script>
{% endblock %}