{% extends "base.html" %}
{% load url from future %}

{% block content %}

<style>
	#my-requests th,
	#my-requests td {
		padding : 7px ;
		border-bottom : 1px solid #CCC ;
		text-align: left;
	}
	
	th {
  	font-size: 1.2em;
  	text-align: left;
	}
	
</style>

<div class="body-content">
<a style="float: right;" class="btn btn-primary btn-large" href="{% url 'docs_request_create' requestslug=object.slug %}">Add Document</a>
<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Agencies</th>
        <th>Documents</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{ object.title }}</td>
        <td>
        {% for agency in object.agencies.all %}
            <a href="{% url 'agency_detail' slug=agency.slug %}">{{ agency.name }}</a><br/>
        {% endfor %}
        </td>
        <td>
            {% for document in object.documents.all %}
            <a href="{% url 'docs_detail' slug=document.slug %}">{{document.title}}</a><br/>
            {% endfor %}
        </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}