{% extends "base.html" %}
{% load url from future %}

{% block title %}Bird Dog: {{ request.title }}{% endblock %}

{% block wrapper_meta%}
<meta property="og:title" content="{{ request.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://birddog.it{% url 'request_detail_public' slug=request.slug %}" />
<meta property="og:image" content="http://birddog.it{{ STATIC_URL }}img/logo-navHeader.png" />
<meta property="og:site_name" content="birddog.it" />
<meta property="fb:admins" content="546347913" />
{% endblock %}

{% block content %}

<script>
	function addSupport() {
		$.getJSON('{% url 'request_add_support' slug=request.slug user_id=user.id %}', function(data) {
			if (data.success = 'False') {
				alert(data.message);
			} else {
				var strSupporters = '';
				$.each(data.supporters, function(numKey, objItem) {
					strSupporters += '<li><a href="' + objItem.link + '">' + objItem.username + '</a></li>'
				});
				$('#supporters').html(strSupporters);
			}
		});
	}
</script>
<section id="my-requests">
<div class="body-content">	
	<h1>{{ request.title }}</h1>
	<hr>
	<p>
		{% if user.is_authenticated %}<a class="btn js-btn btn-primary" href="Javascript:addSupport();">SUPPORT THIS REQUEST</a>
		Increase the pressure by adding your organization as a public supporter of this request.{% else %}
		<a class="btn js-btn btn-primary" href="Javascript:alert('Log in to add your organization as a public supporter of this request.');">SUPPORT THIS REQUEST</a>
		Log in to add your organization as a public supporter of this request.
		{% endif %}
	</p>
	<h4>Supporters:</h4>
	<ul id="supporters">{% for s in request.supporters.all %}
		<li><a href="{{ s.get_absolute_url }}}">{{ s.username }}</a></li>
	{% endfor %}</ul>
	<h3>Requested by {{ request.author.username }} ({{ request.author.userprofile_set.all.0.organization }})</h3>
	<div>Requested {{ request.date_added.date }}</div>
	<div>Requested from:
		<ul>{% for a in request.agencies.all %}
			<li><a href="{% url 'agency_detail' slug=a.slug %}">{{ a.name }}</a></li>
		{% endfor %}</ul>
	</div>
	<div>Status:
		{% ifequal request.status 'P' %}<span class="label">{{ request.get_status_display }}</span>{% endifequal %}
		{% ifequal request.status 'F' %}<span class="label label-success">{{ request.get_status_display }}</span>{% endifequal %}
	</div>
	<p class="request-text">{{ request.text }}</p>
	
	<h4>Latest updates on this request</h4>
	<ul>{% for event in request.events_set.all %}
		<li>{{ event.date }}: {{ event.description }}</li>
	{% endfor %}</ul>
	
	<h4>Documents related to this request</h4>
	{% for document in object.documents.all %}
        <a href="{% url 'docs_detail' slug=document.slug %}">{{document.title}}</a><br/>
    {% endfor %}
	

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=241479755968849";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-send="false" data-width="450" data-show-faces="false"></div>

</section>
</div>
{% endblock %}