{% extends "base.html" %}

{% block title %}Bird Dog: New request{% endblock %}
	
{% block wrapper_meta %}{% endblock %}

{% block wrapper_css %}{% endblock %}

{% block content %}

<style>
	#my-requests th,
	#my-requests td {
		padding : 7px ;
		border-bottom : 1px solid #CCC ;
	}
	
	#bulk-actions h3 {
		display : inline-block ;
	}
</style>

<section id="my-requests">
	<h1>My requests</h1>
	
	<div id="bulk-actions">
		<h3>Bulk actions</h3>
		<select>
			<option value="">Make public</option>
			<option value="">Make private</option>
			<option value="">Delete</option>
			<option value="">Share with user</option>
			<option value="">Set reminder</option>
		</select>
	</div>
	
	<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<th><input type="checkbox"/></th>
			<th>Request date</th>
			<th>Title</th>
			<th>Agency</th>
			<th>Tags</th>
			<th>Status</th>
			<th>Privacy</th>
		</tr>
		{% for object in object_list %}<tr>
			<td><input type="checkbox"/></td>
			<td>{{ object.date_added.date }}</td>
			<td><a href="{% url request_detail slug=object.slug %}">{{ object.title }}</a></td>
			<td><a href="{% url agency_detail %}">{{ object.agency }}</a></td>
			<td></td>
			<td>{{ object.get_status_display }}</td>
			<td>Private</td>
		</tr>{% endfor %}
	</table>
</section>

{% endblock %}