{% extends "base.html" %}
{% load url from future %}

{% block title %}Bird Dog: New request{% endblock %}
	
{% block wrapper_meta %}{% endblock %}

{% block wrapper_css %}{% endblock %}

{% block content %}

<style>
	#my-requests th,
	#my-requests td {
		padding : 7px ;
		border-bottom : 1px solid #CCC ;
		text-align: left;
	}
	
	th {
  	font-size: 1.2em;
	}
	
	#bulk-actions {
  	background-color: #fffbed;
  	padding-top: 5px;
  	padding-left: 10px;
  	border-radius: 5px;
  	border: 1px solid #bdbbaa;
	}
	#bulk-actions h3 {
		display : inline-block ;
	}
	#bulk-actions select {
	 margin-top: 5px;
	 margin-left: 10px;
	}
	.create-new {
  	position: absolute;
  	top: 25px;
  	right: 20px;
  	z-index: 100;
	}
</style>

<div class="body-content">

  <section id="my-requests">
  	<h1>My Requests</h1>
  	<hr> 
  	<div id="bulk-actions">
  		<h3>Bulk actions</h3>
  		<select>
  			<option value="">Make public</option>
  			<option value="">Make private</option>
  			<option value="">Delete</option>
  			<option value="">Share with user</option>
  			<option value="">Set reminder</option>
  		</select>
  	</div>
  	
  	<table cellspacing="0" cellpadding="0" border="0">
  		<tr>
  			<th><input type="checkbox"/></th>
  			<th>Request date</th>
  			<th>Title</th>
  			<th>Agency</th>
  			<th>Tags</th>
  			<th>Status</th>
  			<th>Privacy</th>
  		</tr>
  		{% for object in object_list %}<tr>
  			<td><input type="checkbox"/></td>
  			<td>{{ object.date_added.date }}</td>
  			<td><a href="{% url 'request_detail' slug=object.slug %}">{{ object.title }}</a></td>
  			<td>
  				{% for agency in object.agencies.all %}
  					<a href="{% url 'agency_detail' slug=agency.slug %}">{{ agency.name }}</a><br/>
  				{% endfor %}
  			</td>
  			<td></td>
  			<td>{{ object.get_status_display }}</td>
  			<td>Private</td>
  		</tr>{% endfor %}
  	</table>
  </section>
	<a class="create-new btn btn-large btn-primary" href="/requests/new/"><i class="icon-file icon-white"></i> Create New Request</a>
</div>
	<!-- url request_new not found, wtf? -->

{% endblock %}