{% extends "base.html" %}

{% block title %}Bird Dog: New request{% endblock %}
  
{% block wrapper_meta %}{% endblock %}

{% block wrapper_css %}{% endblock %}

{% block content %}
  <div class="hero-unit">
    <img class="leadart" src="{{ STATIC_URL }}img/splash-ad.jpg" />
    <h1>When information plays hard to get. <span>Bird-Dog.it</span></h1>
    <!--<h1>¡FOIAAAAAAAAAAAA!</h1>
    Hello, world that now has Bird Dog. You're welcome.-->
    
    <div class="row-fluid selling-points">
      <div class="span12">
        <div class="row-fluid">
          <div class="span4">
            <h2>Selling Point #1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="span4">
            <h2>Selling Point #2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="span4">
            <h2>Selling Point #3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
{% endblock %}