{% extends "base.html" %}

{% block title %}Bird Dog: New request{% endblock %}
  
{% block wrapper_meta %}{% endblock %}

{% block wrapper_css %}{% endblock %}

{% block content %}
  <div class="hero-unit">
    <img class="leadart" src="{{ STATIC_URL }}img/splash-ad.jpg" />
    <h1>When information plays hard to get. <span>Bird-Dog.it</span></h1>
    <!--<h1>¡FOIAAAAAAAAAAAA!</h1>
    Hello, world that now has Bird Dog. You're welcome.-->
    
    <div class="row-fluid selling-points">
      <div class="span12">
        <div class="row-fluid">
          <div class="span4">
            <h2>Tracking</h2>
            <p>With Bird Dog, you can track the progress of your requests, organize your efforts and streamline the information gathering process.</p>
          </div>
          <div class="span4">
            <h2>Social Shaming &amp; Support</h2>
            <p>Until now, journalists slaved away in their own misery, prodding, begging and swearing their way through the FOIA request process. Now you can gain support from the collective voice of the community.</p>
          </div>
          <div class="span4">
            <h2>Leveraging the Numbers</h2>
            <p>Two heads are better than one. Hundreds of heads are even better. Keep track of other users' requests, learn from experienced reporters and avoid dead ends with Bird Dog.</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
{% endblock %}