{% extends "base.html" %}
{% load url from future %}

{% block title %}Bird Dog: Sign In{% endblock %}
  
{% block wrapper_meta %}{% endblock %}

{% block wrapper_css %}
<style>
.errorlist {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
</style>
{% endblock %}

{% block content %}

<div class="row-fluid">
  <div class="span6 hero-unit">
  	<h2>Sign In</h2>
		<form action="/accounts/login/" method="POST">
		    {% csrf_token %}
		    {{form}}
		    <br>
		    <input type="submit" value="Sign In">
		</form>
  </div>
  <div class="span6 hero-unit">
  	<h2>New to Birddog? <small>Sign Up</small></h2>
		<a class="btn" href="{% url 'registration_register' %}">
		    Sign Up
		</a>
  </div>
</div>

{% endblock %}