{% extends "base.html" %}

{% block title %}Bird Dog: Sign Up{% endblock %}
  
{% block wrapper_meta %}{% endblock %}

{% block wrapper_css %}
<style>
.errorlist {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
</style>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span6 hero-unit">
  	<h2>Sign Up</h2>
	<form action="/accounts/register/" method="POST">
	    {% csrf_token %}
	    {{form}}
	    <br>
	    <input class='btn' type="submit" value="Sign Up">
	</form>
</div>
</div>
{% endblock %}